<div class="admin-dashboard">
  <h2><i class="fas fa-tools"></i> Admin Paneli</h2>

  <div class="admin-cards">
    <a routerLink="/admin-users" class="card">
      <i class="fas fa-users"></i>
      <span>Kullanıcıları Yönet</span>
    </a>

    <a routerLink="/admin-polls" class="card">
      <i class="fas fa-poll"></i>
      <span>Anketleri Yönet</span>
    </a>

    <a routerLink="/admin-complaints" class="card">
      <i class="fas fa-flag"></i>
      <span>Şikayetler</span>
    </a>

    <a routerLink="/admin-acces-log" class="card">
      <i class="fas fa-chart-line"></i>
      <span>Erişim kayıtları</span>
    </a>
  </div>
</div>