<nav class="navbar">
  <a routerLink="/" class="logo">
    <i class="fas fa-poll"></i> Pollify
  </a>

  <!--  Orta kısım: Slogan + Saat -->
  <div class="center-content">
    <div class="tagline"><i class="fas fa-lightbulb"></i> "Fikrini paylaş, geleceği şekillendir!"</div>
    <div class="live-clock"><i class="far fa-clock"></i> {{ currentTime }}</div>
  </div>

  <!--  Sağ taraf: Login, Profil vs -->
  <div class="nav-links">
    <ng-container *ngIf="!authService.isLoggedIn()">
      <a routerLink="/login"><i class="fas fa-sign-in-alt"></i> Giriş Yap</a>
      <a routerLink="/register"><i class="fas fa-user-plus"></i> Kayıt Ol</a>
    </ng-container>

    <ng-container *ngIf="authService.isLoggedIn()">
      <div class="profile-dropdown" (click)="toggleDropdown()" tabindex="0">
        <i class="fas fa-user-circle"></i> Profil
        <i class="fas" [ngClass]="{'fa-chevron-down': !showDropdown, 'fa-chevron-up': showDropdown}"></i>
      </div>

      <ul class="dropdown-menu" *ngIf="showDropdown">
        <li><a routerLink="/profile" (click)="showDropdown = false">Profil Bilgilerim</a></li>
        <li><a routerLink="/poll-create" (click)="showDropdown = false">Anket Oluştur</a></li>
        <li><a routerLink="/my-polls" (click)="showDropdown = false">Anketlerim</a></li> 
        <li><a routerLink="/joined-polls" (click)="showDropdown = false">Katıldığım Anketler</a></li>
        <li><a href="#" (click)="logout()">Çıkış Yap</a></li>
      </ul>
    </ng-container>
  </div>
</nav>
